<p>
  Thank you for registering with Easy Shop. To complete your registration please
  verify your email by clicking the link below
</p>
<p>
  <a href="<%= link %>">Verify Email Address</a>
</p>
<p>Thanks</p>
<p>Easy shop team</p>
